---
import BaseLayout from "../layouts/BaseLayout.astro";

const identity = {
  firstName: "Larry LW Chan",
  country: "Canada",
  occupation: "Full Stack Developer / AI Tinkerer",
  hobbies: ["photography", "music", "guitars"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript/Typescript",
  "React",
  "Astro",
  "Python",
  "C#",
  "Elixir",
];

const happy = true;
const finished = false;
const goal = 3;

const white = "#fff";
---

<BaseLayout title="About">
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p>
  <ul class="skills">
    {
      skills.map((skill) => (
        <li>
          <mark>{skill}</mark>
        </li>
      ))
    }
  </ul>

  {happy && <p>I am happy to be learning Astro!</p>}
  {finished && <p>I finished this tutorial!</p>}
  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }
</BaseLayout>

<style slot="head" define:vars={{ white }}>
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
  }
  .skills li {
    list-style: none;
  }
</style>
