---
const { title, url, pubDate, description } = Astro.props;

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};

const formattedDate = new Date(pubDate).toLocaleDateString(
  "en-US",
  dateOptions,
);
---

<li>
  <h3><a href={url}>{title}</a></h3>
  <div class="date">
    <box-icon name="calendar-alt"></box-icon>
    <span>{formattedDate}</span>
  </div>
  <div class="description">{description}</div>
  <div class="more">
    <a href={url}>Read More</a>
  </div>
</li>

<style>
  li {
    list-style: none;
    margin-bottom: 2rem;
  }
  h6 {
    font-weight: 500;
  }

  .more {
    font-weight: 900;
    font-family: "Grape Nuts", cursive;
    margin-top: 0.2rem;
    text-align: right;
  }
</style>
