---
import "../assets/styles/prism.css";
import BaseLayout from "./BaseLayout.astro";
import Tags from "../components/Tags.astro";

const { frontmatter } = Astro.props;

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};

const formattedDate = new Date(frontmatter.pubDate).toLocaleDateString(
  "en-US",
  dateOptions,
);
---

<BaseLayout pageTitle={frontmatter.title}>
  <meta name="description" content={frontmatter.description} slot="meta" />

  <div class="frontmatter">
    <h1>{frontmatter.title}</h1>
    <div class="date">
      <box-icon name="calendar-alt"></box-icon>
      <span>{formattedDate}</span>
    </div>
  </div>
  <div class="post">
    <slot />
  </div>
  <div class="taglist">
    <h3>Tags</h3>
    <Tags tags={frontmatter.tags} />
  </div>
</BaseLayout>

<style>
  .frontmatter h1 {
    color: var(--primary);
  }
  .date {
    margin-top: -1rem;
    margin-bottom: 0.8rem;
  }
</style>

<script src="../assets/scripts/prism.js"></script>
